streamlit==1.37.1
qrcode==8.0
aggdraw==1.3.16
aiohappyeyeballs==2.4.3
aiohttp==3.11.8
aiohttp-retry==2.8.3
aiosignal==1.3.1
altair==5.4.0
anywidget==0.9.13
asgiref==3.8.1
asttokens==2.4.1
async-timeout==5.0.1
attrs==24.2.0
azure-core==1.29.4
azure-identity==1.12.0
azure-storage-blob==12.18.1
beautifulsoup4==4.12.3
blinker==1.8.2
bqplot==0.12.43 
cachetools==5.4.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
colour==0.1.5
comm==0.2.2 
contourpy==1.2.0
cycler==0.11.0
decorator==5.1.1
Django==4.2.15
duckdb==1.0.0
et-xmlfile==1.1.0
exceptiongroup==1.2.2
executing==2.0.1
filelock==3.15.4
folium==0.17.0
fonttools==4.42.1
fpdf==1.7.2
frozenlist==1.5.0
gdown==5.2.0
geographiclib==2.0
geojson==3.1.0
geopandas==1.0.1
geopy==2.4.1
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.36.0
google-auth-oauthlib==1.2.1
gspread==6.1.4
httplib2==0.22.0
hydralit-components==1.0.10
idna==3.4
importlib_resources==6.1.3
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipyleaflet==0.19.2
ipython==8.18.1
ipytree==0.2.2
ipyvue==1.11.1
ipyvuetify==1.10.0
ipywidgets==8.1.5
isodate==0.6.1
jedi==0.19.1
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-leaflet==0.19.2
jupyterlab_widgets==3.0.13
kiwisolver==1.4.5
leafmap==0.36.9
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.3
matplotlib-inline==0.1.7
mdurl==0.1.2
msal==1.20.0
msal-extensions==1.0.0
msrest==0.7.1
multidict==6.1.0
narwhals==1.4.2
numpy==1.25.2
oauth2client==4.1.3
oauthlib==3.2.2
openpyxl==3.1.2
packaging==24.0
palettable==3.3.3
pandas==2.1.0
parso==0.8.4
path==16.7.1
pdfkit==1.0.0
pexpect==4.9.0
Pillow==10.0.0
plotly==5.23.0
portalocker==2.7.0
prompt_toolkit==3.0.47
propcache==0.2.0
protobuf==5.27.3
psygnal==0.11.1
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyclipper==1.3.0.post5
pydeck==0.9.1
Pygments==2.18.0
PyJWT==2.6.0
pyogrio==0.9.0
pyparsing==3.1.1
pyproj==3.6.1
PyQt6==6.5.2
PyQt6-Qt6==6.5.2
PyQt6-sip==13.5.2
pyshp==2.3.1
pystac==1.10.1
pystac-client==0.8.3
python-box==7.2.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0
qrcode==8.0
referencing==0.35.1
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.7.1
rpds-py==0.20.0
rsa==4.9
scipy==1.11.2
scooby==0.10.0
shapely==2.0.6
smmap==5.0.1
soupsieve==2.6
sqlparse==0.5.1
stack-data==0.6.3
streamlit==1.37.1
streamlit-cookies-manager==0.2.0
streamlit-option-menu==0.3.13
streamlit_folium==0.22.0
tenacity==8.5.0
toml==0.10.2
tornado==6.4.1
traitlets==5.14.3
traittypes==0.2.1
twilio==9.3.7
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.0.4
wcwidth==0.2.13
whitebox==2.3.5
whiteboxgui==2.3.0
widgetsnbextension==4.0.13
XlsxWriter==3.1.3
xyzservices==2024.6.0
yarl==1.18.0
zipp==3.17.0
